.row {
  @include outer-container;
}


.row .one.column,
.row .one.columns {
  @include span-columns(1);
}
.row .two.columns {
  @include span-columns(2);
}
.row .three.columns {
  @include span-columns(3);
}
.row .four.columns {
  @include span-columns(4);
}
.row .five.columns {
  @include span-columns(5);
}
.row .six.columns {
  @include span-columns(6);
}
.row .seven.columns {
  @include span-columns(7);
}
.row .eight.columns {
  @include span-columns(8);
}
.row .nine.columns {
  @include span-columns(9);
}
.row .ten.columns {
  @include span-columns(10);
}
.row .eleven.columns {
  @include span-columns(11);
}
.row .twelve.columns {
  @include span-columns(12);
}
.row .seven.columns.centered {
  @include span-columns(8);
  @include shift(2);
}

/* Tile Grid */
.tiles { display: block; overflow: hidden; }
.tiles > li { display: block; height: auto; float: left; padding-bottom: 0; }
.tiles.two_up { margin-left: -4%; }
.tiles.two_up > li { margin-left: 4%; width: 46%; }
.tiles.three_up, .tiles.four_up { margin-left: -2%; }
.tiles.three_up > li { margin-left: 2%; width: 31.3%; margin-top: 2%; }
.tiles.four_up > li { margin-left: 2%; width: 23%; }
.tiles.five_up { margin-left: -1.5%; }
.tiles.five_up > li { margin-left: 1.5%; width: 18.5%; }
